.about {
  padding: 3rem 0;
  text-align: center; }
  .about h1 {
    font-size: 60px; }

.out-links a {
  padding: 0 .5rem; }

.location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
  padding: 1rem .5rem;
  font-size: 24px; }
  .location-info img {
    margin-right: .5rem; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000000;
  color: #ffffff; }

.application {
  max-width: 1070px;
  margin: 0 auto; }
  @media screen and (max-width: 1100px) {
    .application {
      padding: 0 15px; } }
.tile {
  background-color: #191a1f;
  padding-top: 90px;
  margin-bottom: 25px;
  border-radius: 6px;
  text-align: center; }
  .tile .title {
    font-size: 40px;
    font-weight: 600;
    margin: 0; }
  .tile p {
    color: #ccc;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 1rem; }
  .tile a {
    color: #0070c9;
    font-size: 21px;
    text-decoration: none;
    margin: 0 auto; }
    .tile a:hover {
      text-decoration: underline; }
  .tile img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; }
.project-section {
  position: relative;
  width: 100%; }

.project-title {
  width: 100%; }
  .project-title h1 {
    text-align: center; }

.gray-bg {
  padding-left: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #FAFAFA; }
  @media (max-width: 767px) {
    .gray-bg {
      padding-left: initial; } }

.project {
  padding-top: 2rem; }
  @media (max-width: 767px) {
    .project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.img-wrap {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .img-wrap img {
    max-width: 100%;
    display: inline-block;
    vertical-align: bottom; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .description h2 {
    font-weight: lighter; }

.content-wrap {
  padding: 1rem; }

.stack img {
  height: 40px;
  padding: 0 5px; }
  .stack img:first-child {
    padding-left: 0; }

.search-bar {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  padding: .5rem; }
  .search-bar input {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    outline: none; }

.no-result {
  font-size: 2rem;
  text-align: center;
  padding: 3rem; }
