.about {
  padding: 3rem 0;
  text-align: center; }

.out-links a {
  padding: 0 .5rem; }

.location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
  padding: 1rem .5rem;
  font-size: 24px; }
  .location-info img {
    margin-right: .5rem; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 11px, 0); }
  5% {
    clip: rect(49px, 9999px, 75px, 0); }
  10% {
    clip: rect(44px, 9999px, 50px, 0); }
  15% {
    clip: rect(95px, 9999px, 84px, 0); }
  20% {
    clip: rect(59px, 9999px, 29px, 0); }
  25% {
    clip: rect(7px, 9999px, 25px, 0); }
  30% {
    clip: rect(74px, 9999px, 38px, 0); }
  35% {
    clip: rect(40px, 9999px, 65px, 0); }
  40% {
    clip: rect(43px, 9999px, 85px, 0); }
  45% {
    clip: rect(69px, 9999px, 65px, 0); }
  50% {
    clip: rect(5px, 9999px, 64px, 0); }
  55% {
    clip: rect(60px, 9999px, 32px, 0); }
  60% {
    clip: rect(74px, 9999px, 86px, 0); }
  65% {
    clip: rect(17px, 9999px, 85px, 0); }
  70% {
    clip: rect(98px, 9999px, 1px, 0); }
  75% {
    clip: rect(61px, 9999px, 32px, 0); }
  80% {
    clip: rect(1px, 9999px, 83px, 0); }
  85% {
    clip: rect(84px, 9999px, 17px, 0); }
  90% {
    clip: rect(65px, 9999px, 89px, 0); }
  95% {
    clip: rect(49px, 9999px, 60px, 0); }
  100% {
    clip: rect(16px, 9999px, 55px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 11px, 0); }
  5% {
    clip: rect(49px, 9999px, 75px, 0); }
  10% {
    clip: rect(44px, 9999px, 50px, 0); }
  15% {
    clip: rect(95px, 9999px, 84px, 0); }
  20% {
    clip: rect(59px, 9999px, 29px, 0); }
  25% {
    clip: rect(7px, 9999px, 25px, 0); }
  30% {
    clip: rect(74px, 9999px, 38px, 0); }
  35% {
    clip: rect(40px, 9999px, 65px, 0); }
  40% {
    clip: rect(43px, 9999px, 85px, 0); }
  45% {
    clip: rect(69px, 9999px, 65px, 0); }
  50% {
    clip: rect(5px, 9999px, 64px, 0); }
  55% {
    clip: rect(60px, 9999px, 32px, 0); }
  60% {
    clip: rect(74px, 9999px, 86px, 0); }
  65% {
    clip: rect(17px, 9999px, 85px, 0); }
  70% {
    clip: rect(98px, 9999px, 1px, 0); }
  75% {
    clip: rect(61px, 9999px, 32px, 0); }
  80% {
    clip: rect(1px, 9999px, 83px, 0); }
  85% {
    clip: rect(84px, 9999px, 17px, 0); }
  90% {
    clip: rect(65px, 9999px, 89px, 0); }
  95% {
    clip: rect(49px, 9999px, 60px, 0); }
  100% {
    clip: rect(16px, 9999px, 55px, 0); } }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(65px, 9999px, 42px, 0); }
  5% {
    clip: rect(67px, 9999px, 25px, 0); }
  10% {
    clip: rect(26px, 9999px, 80px, 0); }
  15% {
    clip: rect(4px, 9999px, 59px, 0); }
  20% {
    clip: rect(70px, 9999px, 52px, 0); }
  25% {
    clip: rect(68px, 9999px, 99px, 0); }
  30% {
    clip: rect(39px, 9999px, 61px, 0); }
  35% {
    clip: rect(2px, 9999px, 60px, 0); }
  40% {
    clip: rect(21px, 9999px, 26px, 0); }
  45% {
    clip: rect(75px, 9999px, 90px, 0); }
  50% {
    clip: rect(31px, 9999px, 17px, 0); }
  55% {
    clip: rect(70px, 9999px, 8px, 0); }
  60% {
    clip: rect(40px, 9999px, 78px, 0); }
  65% {
    clip: rect(10px, 9999px, 86px, 0); }
  70% {
    clip: rect(92px, 9999px, 100px, 0); }
  75% {
    clip: rect(97px, 9999px, 44px, 0); }
  80% {
    clip: rect(22px, 9999px, 94px, 0); }
  85% {
    clip: rect(17px, 9999px, 1px, 0); }
  90% {
    clip: rect(89px, 9999px, 97px, 0); }
  95% {
    clip: rect(12px, 9999px, 52px, 0); }
  100% {
    clip: rect(72px, 9999px, 24px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(65px, 9999px, 42px, 0); }
  5% {
    clip: rect(67px, 9999px, 25px, 0); }
  10% {
    clip: rect(26px, 9999px, 80px, 0); }
  15% {
    clip: rect(4px, 9999px, 59px, 0); }
  20% {
    clip: rect(70px, 9999px, 52px, 0); }
  25% {
    clip: rect(68px, 9999px, 99px, 0); }
  30% {
    clip: rect(39px, 9999px, 61px, 0); }
  35% {
    clip: rect(2px, 9999px, 60px, 0); }
  40% {
    clip: rect(21px, 9999px, 26px, 0); }
  45% {
    clip: rect(75px, 9999px, 90px, 0); }
  50% {
    clip: rect(31px, 9999px, 17px, 0); }
  55% {
    clip: rect(70px, 9999px, 8px, 0); }
  60% {
    clip: rect(40px, 9999px, 78px, 0); }
  65% {
    clip: rect(10px, 9999px, 86px, 0); }
  70% {
    clip: rect(92px, 9999px, 100px, 0); }
  75% {
    clip: rect(97px, 9999px, 44px, 0); }
  80% {
    clip: rect(22px, 9999px, 94px, 0); }
  85% {
    clip: rect(17px, 9999px, 1px, 0); }
  90% {
    clip: rect(89px, 9999px, 97px, 0); }
  95% {
    clip: rect(12px, 9999px, 52px, 0); }
  100% {
    clip: rect(72px, 9999px, 24px, 0); } }

.glitchWrapper {
  position: relative; }

.glitch {
  color: white;
  font-size: 100px;
  font-weight: normal; }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    text-shadow: -1px 0 red;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: -2px;
    right: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse; }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 1px 0 blue;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 2px;
    right: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000000;
  color: #ffffff; }

.application {
  max-width: 1070px;
  margin: 0 auto; }
  @media screen and (max-width: 1100px) {
    .application {
      padding: 0 15px; } }
.tile {
  background-color: #191a1f;
  padding-top: 90px;
  margin-bottom: 25px;
  border-radius: 6px;
  text-align: center; }
  .tile .title {
    font-size: 40px;
    font-weight: 600;
    margin: 0; }
  .tile p {
    color: #ccc;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 1rem; }
  .tile a {
    display: block;
    color: #0070c9;
    font-size: 21px;
    text-decoration: none;
    margin: .5rem auto; }
    .tile a:hover {
      text-decoration: underline; }
  .tile img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; }
.project-section {
  position: relative;
  width: 100%; }

.project-title {
  width: 100%; }
  .project-title h1 {
    text-align: center; }

.gray-bg {
  padding-left: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #FAFAFA; }
  @media (max-width: 767px) {
    .gray-bg {
      padding-left: initial; } }

.project {
  padding-top: 2rem; }
  @media (max-width: 767px) {
    .project {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.img-wrap {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .img-wrap img {
    max-width: 100%;
    display: inline-block;
    vertical-align: bottom; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .description h2 {
    font-weight: lighter; }

.content-wrap {
  padding: 1rem; }

.stack img {
  height: 40px;
  padding: 0 5px; }
  .stack img:first-child {
    padding-left: 0; }

.search-bar {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  padding: .5rem; }
  .search-bar input {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    outline: none; }

.no-result {
  font-size: 2rem;
  text-align: center;
  padding: 3rem; }
